@import '../base/vars';
@import "./node_modules/bootstrap/scss/vendor/rfs";

.header-logo-mobile {
    @include header_breakpoint{
        display: none;
    } 
}

.header {
  background: $primary-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    display: flex;
  }
  &__lang {
    margin: auto;
    @include header_breakpoint(max) {
        display: none;
    }
    a {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      display: flex;
      &::before,
      &::after {
        content: '';
        position: relative;
        display: block;
      }
      &::before {
        background: url(../svg/sprite.svg#ico-lang) no-repeat;
        width: 16px;
        height: 16px;
        margin: 0 5px 0 0
      }
      &::after {
        background: url(../svg/sprite.svg#ico-lang-arrow) no-repeat;
        width: 8px;
        height: 8px;
        margin: 5px 0 0 10px;
      }
    }
  }
}

.slogan-head {
  @include font-size(50px);
  line-height: 1.8;
  margin: 0 0 55px 0;
}

.slogan-description {
  font-family: 'proxima_novabold';
  @include font-size(32px);
  line-height: 1.25;
}

.slogan-content {
  @include font-size(22px);
  margin: 0 0 2rem 0;
  line-height: 1.55;
}

.slogan-content-doing-logo {
  margin-top: 80px;
  margin-bottom: 60px;
}


.row-doing-1 {
  margin-bottom: 60px;
}

.index-slogan {
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.services {
    background: #F6F9FC;
    margin: -90px 0 0 0;
    padding: 90px 0 0 0;
  //min-height: calc(100vh - 90px - 60px);
  //100 - padding-height - header height
}

.container-projects-bg {
    background-image: url("../../src/img/bg-projects-container.svg");
    background-repeat: no-repeat;
    background-position: right top;   
}


.container-projects {
    padding: 90px 0 0 0 !important;
    .slogan-head {
        margin-bottom: 85px;
    }
}

.project {
    background: #F6F9FC;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    & > [class*='col']:not(.project-description) {
        padding: 0;
    }
    img {
        border-radius: 10px;
    }
    .project-description {
        padding: 20px 30px 30px 20px;
    }
    .project-name {

    }
    
}





.poster-slogan {
  margin-bottom: 5rem;
}

.poster-picture {
//   padding: 0 10px;
    width: 483px;
}

.index-slogan {
  margin-bottom: 70px;
}



.poster-slogans-right {

}

.poster-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  min-height: 45px;
  text-align: right;
  &__slogan {
    font-family: $bold;
    color: #1A243A;
  }
  &__desc {
    color: #86939E;
  }
  &__middle {
    margin: 80px 0 90px 30px;
  }
  &__img {
    margin: 0 0 0 25px;
  }
  &.poster-item-right {
    text-align: left;
    // padding-left: 70px;
    .poster-item__img {
      margin: 0 23px 0 0;
    }
  }
} 


.poster-item-right-inner {
    display: flex;
    align-items: center;
    padding-left: 40px;
}


.poster-slogans {
    display: flex;
    flex-direction: column;
    padding: 65px 0 0 0;
  }
  
  


.splide__arrow--prev {
    left: -3em !important;
}
.splide__arrow--next {
    right: -3em !important;
}

.container-customers {
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 0 !important;
}

.customers {
    .splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




.container-testimonials {
    box-sizing: content-box;
    margin-bottom: 180px;
    padding-top: 80px;
    .splide__pagination {
        bottom: -130px;
    }

}


main {
    .splide__pagination__page {
        background: #E7EBF9;
        width: 13px;
        height: 13px;
        opacity: 1;
        &.is-active {
            background: #FF6F00;
            transform: none;
        }
    }
}



.testimonials {
    margin-top: 90px;
    margin-left: -20px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        bottom: 10px;
        width: 9%;
        background: linear-gradient(270deg, rgba(255,255,255,01) 0%, rgba(255,255,555,0.1) 90%);
    }
}

.testimonial {
    width: 800px;
    height: 280px;
    padding: 5px 50px 5px 18px;
    margin: 0 -3px 0 1px;
    box-sizing: content-box;
    .testimonial__inner {
        background: #FFFFFF;
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
        padding: 30px 20px 10px 50px;
        height: 100%;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 16px;
            top: 25px;
            bottom: 25px;
            width: 9px;
            background: #fda04b;
            background: linear-gradient(0deg, #fda04b 0%, #fd6f21 100%);
            border-radius: 5px;
        }
    }
    &__customer-avatar {
        border-radius: 50%;
    }
    &__customer-logo {
        float: right;
        width: 93px;
        margin-top: -10px;
    }
    &__content {
        font-size: 18px;
        line-height: 1.3;
        margin: 20px 0 30px;
    }
}

.testimonial-customer {
    &__name {
        font-size: 18px;
        font-family: 'proxima_novasemibold';
        color: #1A243A;
        margin: 0 0 5px 0;
    }
    &__company {
        font-size: 16px;
    }
    
}


.fox-menu {
    position: relative;
    line-height: normal;
    flex: 1;
    .navMainWrap {
        display: flex;
        height: 100%;
        font-family: "proxima_novasemibold", Arial, sans-serif;
        @include header_breakpoint {
            padding: 0 1em;   
        }
        @include header_breakpoint(max) {                   
            width: 280px; 
        }  
        & > ul {
            & > li {
                margin-top: auto;
                margin-bottom: auto;
                position: relative;
                list-style: none;
                display: block;
                & > a {
                    white-space: nowrap;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    margin: 16px 12px;
                    @include header_breakpoint {
                        height: 100%;
                        line-height: 1.5;
                    }

                }

                & > a {
     
                    @include _1360_max {
                        margin: 16px 10px
                    }
      
                    @include header_breakpoint(max) {
                        margin: 16px 8px;
                    }
                }


                &.logo {
                  top: 33px;
                  @include header_breakpoint(max) {
                    order: -1;
                    position: static;
                    margin-bottom: 35px;
                    }
                  img {
                      &.logo-mob {
                        width: 180px;                     
                        @include header_breakpoint {
                            display: none;
                        }
                        @include header_breakpoint(max) {
                            display: block !important;
                        }
                      }
                      
                      &.logo-desktop {
                        @include header_breakpoint(max) {
                            display: none;
                        }
                      }
                  }
                }
  
                @include header_breakpoint(max) {
                    height: 100%;
                }
 
            }
        }
        @include header_breakpoint(max) {
            z-index: 10;
            padding: 60px 0 10px;
            align-items: flex-start;
            position: fixed;
            left: 0;
            top: 0;
            transform: translateX(-280px);
            background-color: #FF6F00;
            height: 100%;
            overflow: auto;
            transition: .3s;
        }
    }
    .nav-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        @include header_breakpoint(max) {
            overflow: auto;
            padding: 10px 0 0 0;
            flex-direction: column;
        }
    }
    @include header_breakpoint(max) {
        width: auto;
        z-index: 6;
        padding: 1em 0 0 0;
    }
  
}




 
.ic { 
  position: fixed;
  cursor: pointer;
  display: inline-block;
  left: 20px;
  width: 30px;
  height: 20px;
  text-align: center;
  top: 19px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .3s;
  &.close { 
      opacity: 0;
  }
  &.menu {
      z-index:20;
      display: none;
      @include header_breakpoint(max) {
          display: block;
          & ~ .navMainWrap {
              .nav-main > li > a {
                margin: 0;
                  padding: 10px 0;
                  font-size: 22px;
              }
          }
      }
      span {
          display: block;
          background: #504f4f;
          width: 100%;
          height: 4px;
          margin-top: -2px;
          position: absolute;
          left: 0;
          top: 50%;
          @include  header_breakpoint(max) {
              background: #fff;
          }
      }
      &::before,
      &::after {
          content: "";
          display: block;
          background: #504f4f;
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0;
          transform-origin: center center;
          transform: rotate(0deg);
          transition: all 0.2s ease;
          @include  header_breakpoint(max) {
              background: #fff;
          }
      }
      &::before {
          top: 2px;
          margin-top: -2px;
      }
      &::after {
          bottom: 2px;
          margin-bottom: -2px;
      }
      &:focus {
          & ~ {
              .ic.close { 
                  opacity: 1; 
                  z-index: 21;
                  left: 290px;  
              }
              .navMainWrap {
                  transform: translateX(0);
              }
              .nav-overlay {
                  display: block;
              }
          }
        //   span {
        //       background: transparent;
        //   }
        //   &::before {
        //       top: 50%;
        //       transform: rotate(45deg);
        //       background: #fff;
        //   }
        //   &::after {
        //       bottom: 50%;
        //       transform: rotate(-45deg);
        //       background: #fff;
        //   }    
      }
      &:hover,
      &:focus {
          opacity: 1;
      }
      &:focus {
          left: 290px;
      }
  }
}